<!DOCTYPE html>
<html>

<head>
  <title>Place searches</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

    #map {
      height: 0%;
      width: 0%;
      margin: auto;
    }

    #staticMap {
      float: left;
      margin: auto;
    }

    #addresses {
      float: right;
      margin: auto;
    }

    html,
    body {
      height: 100%;
      margin: auto;
    }
  </style>

</head>

<body >

  <div id="map"></div>
  <div id="createStaticMap"> </div>
  <div id="staticMap"></div>
  <span id="addresses"></span>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP3ePEvxjrmCXKZ0Z-_5buf2cKsiGai_s &libraries=places"></script>
  <script>
    var map;
    var infoWindow;
    var locations = [0, 1, 2];
    var counter = 0;
    var myPos;
    var service;
    var flag2 = false;
    var tmpurl = "https://maps.googleapis.com/maps/api/staticmap?center=";
    var newlocation = [];
    var alph = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
    var places = ["gas_station", "hospital", "lodging"];
    var colorArray = ["red", "green", "yellow"];
	StaticMap();
	//showStaticMap();

    function initMap(value, callback) {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 14
      });

      infoWindow = new google.maps.InfoWindow;
      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
          myPos = pos;
          infoWindow.setPosition(pos);
          infoWindow.setContent("You are here");
          infoWindow.open(map);
          map.setCenter(pos);
          
          if(!flag2){
          var geocoder = new google.maps.Geocoder();

          document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, map);
			alert("Please regenerate map to see changes");
          });
          flag2 = true;
          }

          service = new google.maps.places.PlacesService(map);
          service.nearbySearch({
            location: pos,
            radius: 4000,
            type: value

          }, callback);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      }
      else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }


    }


    function createMarker(place) {
      var placeid = place.place_id;
      service.getDetails({
        placeId: placeid,
      }, function(place, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
          });
          google.maps.event.addListener(marker, 'click', function() {
            infoWindow.setContent('<div><strong>' + place.name + '</strong><br>' + place.formatted_phone_number + '<br>' + place.formatted_address + '</div>');
            infoWindow.open(map, this);
          });
        }
      });
    }

    function StaticMap() {
      var flag = false;
      var count = 1;

      for (var i = 0; i < places.length; i++) {
        initMap(places[i], function(results, status) {
          if (flag === false) {
            tmpurl += myPos.lat + "," + myPos.lng + "&zoom=13&maptype=hybrid&size=640x640&markers=color:blue%7Clabel:A%7C" + myPos.lat + "," + myPos.lng;
            flag = true;
          }

          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (var j = 0; j < results.length; j++) {
              createMarker(results[j]);
            }
          }

          for (var z = 0; z < results[0].types.length; z++) {
            if (results[0].types[z] == "gas_station") {
              locations[0] = results;
            }
            else if (results[0].types[z] == "hospital") {
              locations[1] = results;
            }
            else if (results[2].types[z] == "lodging") {
              locations[2] = results;
            }
          }
          console.log(locations);

          if (places.length == count) {
            document.getElementById("createStaticMap").innerHTML = "<input type='button' value='Generate Static Map' onclick='showStaticMap()' />"
            console.log("locations.length = " + locations.length);
            console.log("location[0].length = " + locations[0].length);
            for (var k = 0; k < locations.length; k++) {
              for (var l = 0; l < locations[k].length; l++) {
                console.log("Color: " + colorArray[k] + " Letter: " + alph[l] + " Address: " + locations[k][l].vicinity);
                tmpurl += "&markers=color:" + colorArray[k] + "%7Clabel:" + alph[l] + "%7C" + locations[k][l].geometry.location.lat() + "," + locations[k][l].geometry.location.lng();
              }
            }
          }
          count++;
        });
      }
    }

    function showStaticMap() {
      document.getElementById("addresses").innerHTML = "";
      for (var k = 0; k < locations.length; k++) {
        document.getElementById("addresses").innerHTML += colorArray[k] + ": " + places[k] + "<br />"
        for (var l = 0; l < locations[k].length; l++) {
          document.getElementById("addresses").innerHTML += alph[l] + ": " + locations[k][l].vicinity + "<br />";
        }
      }
      
      document.getElementById("addresses").innerHTML += "Purple: User Inputted<br />"
      for (var i = 0; i < newlocation.length; i++) {
          document.getElementById("addresses").innerHTML += alph[i] + ": " + newlocation[i].formatted_address + "<br />";
          tmpurl += "&markers=color:purple%7Clabel:" + alph[i] + "%7C" + newlocation[i].geometry.location.lat() + "," + newlocation[i].geometry.location.lng();
      }
      document.getElementById("staticMap").innerHTML = "<img src='" + tmpurl + "' />";
    }

    function geocodeAddress(geocoder, resultsMap) {
      var address = document.getElementById('street').value + "," + document.getElementById('city').value + "," + document.getElementById('zip').value + "," + document.getElementById('state').value;
    
        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status === 'OK') {
              resultsMap.setCenter(results[0].geometry.location);
              createMarker(results[0]);
              console.log(results[0]);
              newlocation.push(results[0]);
            
            }
            else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
        });
        
    }
	


  </script>
  <div id="floating-panel">
    <input id="street" type="textbox" value="Street">
    <input id="city" type="textbox" value="City">
    <input id="zip" type="textbox" value="Zip Code">
    <input id="state" type="textbox" value="State">

    <input id="submit" type="button" value="Insert Location" >
  </div>
</body>

</html>